*~
*.pyc
venv
*.msh
*.geo
*.deb
*.npz
*.png
*.egg-info
.cut.py
README.html
*.pdf
*.msh
*.json
*.aux
*.fls
*.log
*.nav
*.out
*.snm
*.toc
*.fdb_latexmk
cut.py
*.gz
old
cut.cfg
auto
*.vrb
notes.html
notes.tex
notes.pdf
*.db
*.sqlite
*.sqlite3
*.html
*.vtk
caged
others
boxed
uboone
twodee
uncaged
timo
opt
one
levn
parallel
*.root
bigger
boxed-debugging
