[mesh one]
methods = larf.wires.one
length = 10*cm
radius = 150*um
angle = 90*deg
axis = x
lcar = 150*um

[mesh cpa]
methods = larf.electrode.cpa
params = cpa
offsetx = 21*mm

[mesh apc]
methods = larf.electrode.cpa
params = cpa
offsetx = -21*mm

[params cpa]
dx=1*mm
dy=40*mm
dz=40*mm
lcar = 1.0*mm


[mesh parallel]
methods = larf.wires.parallel
length = 10*cm
radius = 150*um
nwires = 20
pitch = 3*mm
#lcar = 1.5*mm
lcar = 3*mm

[mesh symmetric]
methods = larf.wires.symmetric
length = 10*cm
radius = 150*um
nwires = 20
pitch = 3*mm
lcar = 1.5*mm

[mesh uboone]
meshes = symmetric, cpa

[mesh wirescpa]
meshes = parallel, cpa

[mesh capacitor]
meshes = cpa, apc


[potential capdrift]
methods = larf.potentials.drift
# Fixme/warning: must keep 61 in sync with position of CPA
domain_voltage_map = {1:-5000*1*V, 2:5000*1*V}

[potential drift]
methods = larf.potentials.drift
# Fixme/warning: must keep 61 in sync with position of CPA
domain_voltage_map = {(1,21):-200*V, (21,41):0*V, (41,61):200*V, 61:-500*2*V, 62:500*2*V}

[gridding tight]
methods = larf.solve.gridding
params = tight

[plot tight]
methods = larf.plot.slice
params = tight

[params tight]
ngridx = 400
ngridy = 400
xrange = (-2*mm,2*mm)
yrange = (-2*mm,2*mm)





[gridding full]
methods = larf.solve.gridding
params = full

[plot full]
methods = larf.plot.slice
#methods = larf.plot.gradmag
params = full
#log = True
limits = (-5000,5000)

[params full]
ngridx = 400
ngridy = 400
xrange = (-200*mm,200*mm)
yrange = (-200*mm,200*mm)


[gridding near]
methods = larf.solve.gridding
params = near

[plot near]
methods = larf.plot.slice
#methods = larf.plot.gradmag
params = near
#log = True
limits = (-300,200)

[params near]
ngridx = 400
ngridy = 400
xrange = (-20*mm, 20*mm)
yrange = (-20*mm, 20*mm)

