[mesh twodee]
meshes = parallel, cpa, apc

# Increase the Gaussian quadrature order (def: 4,3,2)
[params higherorder]
gqo_near=8
gqo_medium=6
gqo_far=4


[boundary drift]
methods = larf.potentials.drift
params = higherorder
# Fixme/warning: must keep 3N+1 in sync with position of CPA and U-wire
# plane to maintain desired V/cm.
# V = V_1 -500V/cm*(offsetx-dx-X_1) =  -200V -500V/cm*(21mm-1mm-3mm) = -1050 V
domain_voltage_map = [((1,13),-200*V), ((14,26),0*V), ((27,39),200*V), (40,-1050*V), (41,0*V)]


[boundary weighting]
methods = larf.potentials.weighting
params = higherorder
# Override this on cmd line like:
## larf -P domain=11 boundary [...] weighting
domain = 18

[raster fine]
methods = larf.raster.linear
params = higherorder
linspaces = ((-25*mm,25*mm,500), (-25*mm,25*mm,10), (-25*mm,25*mm,500))





[params wiresgeom]
length = 30*mm
radius = 150*um
nwires = 13
pitch = 3*mm
lcar = 1.5*mm
nsegments = 8
gap = 3*mm

[mesh parallel]
methods = larf.wires.parallel
params = wiresgeom

[mesh cpa]
methods = larf.electrode.cpa
params = cpa
dx=1*mm
offsetx = 21*mm

[mesh apc]
methods = larf.electrode.cpa
params = cpa
dx=1*mm
offsetx = -21*mm

[params cpa]
dy=20*mm
dz=20*mm
lcar = 2.5*mm
